
.navbar {
    background-color: #f8f9fa;
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card .badge {
    font-size: 0.9rem;
  }
  
  .card-footer button {
    width: 100%;
  }

  img {
    filter: hue-rotate(90deg); /* Changes color by rotating the hue */
  }
  
  img.grayscale {
    filter: grayscale(100%); /* Converts the image to grayscale */
  }
  
  img.brightness {
    filter: brightness(0.5); /* Makes the image darker */
  }
  
  